#loginCard {
  position: fixed;
  color: rgb(238, 238, 238);
  font-family: sans-serif;
  background-color: rgb(156, 39, 176);
  min-width: 16rem;
  width: 30vw;
  margin: auto;
  display: flex;
  top: 8rem;
  align-self: center;
  height: 26rem;
  box-shadow: rgb(255 136 0) 0px 0px 4px 1px;
  justify-content: center;
  flex-direction: column;
}

#loginCard > span:nth-child(1) {
  position: relative;
  display: block;
  font-size: 2.3em;
  text-align: center;
  flex: 0.4 1 0%;
  top: 0.8rem;
  margin: auto;
}

small {
  flex: 0.6 1 0%;
  display: block;
  top: 1.1rem;
  position: relative;
  margin: auto;
  left: 0rem;
  text-align: center;
}

form > input {
  position: relative;
  display: block;
  left: 14%;
  width: 72%;
  height: 1.5rem;
  margin-bottom: 2rem;
  border: none;
  font-size: 1.1rem;
  padding: 5px;
}

#message {
  position: absolute;
  color: #ffffff;
  font-size: small;
  text-align: center;
  left: 21%;
  top: 6.7rem;
  overflow: hidden;
  width: 58%;
  display: none;
}

#loginButn {
  background-color: rgb(255, 136, 0);
  border: none;
  width: 7rem;
  color: rgb(238, 238, 238);
  height: 2rem;
  font-size: 1.3em;
  position: relative;
  margin: auto;
  display: block;
  cursor: pointer;
}

form {
  position: relative;
  flex: 2 1 0%;
  display: flex;
  flex-direction: column;
}
