#savedQryBox {
    height: 100vh;
    width: 20rem;
    margin-top: 3rem;
    color: #eee;
    align-self: flex-end;
    background-color: #52055f;
    border-left: 2px solid #9c27b0;
    z-index: 2;
}

#savedQryBox>h3 {
    /* width: 100%; */
    text-align: center;
    border-bottom: 2px solid #eee;
    padding: 0.7rem;
    margin: 0;
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
    cursor: pointer;
    padding: 0.3rem;
    width: 90%;
    display: flex;
    margin: 0.7rem 0;
    background-color: #9c27b0;
    flex-direction: row;
    justify-content: space-between;
}

li>span:nth-child(2) {
    cursor: pointer;
}

li>span:hover {
    color: #fcc81b;
}

@keyframes slideInRight {
    from {
        display: none;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        display: block;
        transform: translate3d(0, 0, 0);
    }
}

.slideInRight {
    animation: slideInRight 0.7s ease forwards;
}

@keyframes slideOutRight {
    from {
      display: block;
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      display: none;
      transform: translate3d(100%, 0, 0);
    }
  }
  
  .slideOutRight {
    animation: slideOutRight 0.7s ease forwards;
  }
  
  