#container {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 82vw;
  height: 87.7vh;
  position: fixed;
  padding: 1rem;
  background: #9c27b0;
  justify-content: space-between;
  box-shadow: rgb(255 136 0) 0px 0px 4px 1px;
  top: 3.2vh;
  z-index: 4;
  overflow-y: auto;
}

#container > span {
  color: #eee;
}

#container > span#heading {
  text-align: center;
  background: #52055f;
  padding: 0.5rem;
}

#controlls {
  flex: 0.3;
  width: 100%;
  display: flex;
  margin: 0.5rem auto;
  background-color: #eee;
  flex-direction: column;
}

#controlls > div {
  width: 100%;
  border-top: 1px solid #9c27b0;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0.5rem 0rem;
}



#textformatArea {
  flex: 0.8;
}

#textformatArea > span {
  background: #c7c7c7;
  margin: auto 0;
  display: inline-block;
  position: relative;
  width: 2rem;
  height: 23px;
  text-align: center;
  border: 1px solid #eee;
  padding: 2px;
  cursor: pointer;
  color: #343434;
  box-shadow: 0 0 4px 0 #323131;
}

#textPanelContainer {
  flex: 1;
}

.textPanel {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0.5rem auto;
  overflow-y: auto;
  background-color: #52055f;
  height: 15rem;
}

#commandSection, #resultSection {
  flex: 1 1;
  background-color: inherit;
  color: #eee !important;
  overflow-wrap: anywhere;
  padding: 10px;
  width: 100%;
}

#saveButn,
#runButn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.3rem;
}

#saveButn > button,
#runButn > button {
  background-color: #ffa000;
  border: none;
  color: #eee;
  padding: 0.5rem 1.3rem;
  cursor: pointer;
  width: 100%;
}

#typingButnWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
