.dataBlock {
  background-color: #fff;
  box-shadow: 0 0 8px 3px #f80;
  height: 90.9vh;
  margin: auto;
  position: fixed;
  top: 3.15rem;
  width: 89vw;
}

.DATA_BLOCK_HEADER {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
  position: relative;
  height: fit-content;
  flex-direction: column;
  align-content: space-around;
}

.DATA_BLOCK_HEADER > span:nth-child(2) {
  display: flex;
  align-self: center;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 0;
  font-family: sans-serif;
}

.DATA_BLOCK_HEADER > #searchInput {
  position: relative;
  margin: auto;
  box-shadow: 0 0 2px 0px;
  font-family: sans-serif;
  border: none;
  width: 70%;
  left: 0;
  padding: 0.5rem;
}

#dataReqTable {
  position: relative;
  display: flex;
  flex-direction: column;
  background: inherit;
  padding: 5% 5% 10% 5%;
  height: 75%;
  border: 1px solid;
  top: 3%;
  overflow-y: auto;
}

#dataReqTable > div {
  padding: 0.2rem;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}

#dataReqTable > div > span {
  display: flex;
  width: 100%;
  position: relative;
  padding: 0.1rem;
  font-family: sans-serif;
  align-items: center;
}

.cancelPaymenReqButn {
  z-index: 3;
  width: 1rem !important;
  height: 1rem;
  align-self: flex-end;
  position: absolute !important;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #777;
  text-align: center;
  display: block !important;
  border-radius: 50%;
}

.userIndex {
  text-decoration: underline;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#dataReqTable > div > span > input[type="text"] {
  background: none;
  height: 1.3rem;
  padding: 0.1rem;
  width: 50%;
  border: none;
  margin-left: 0.2rem;
}

#dataReqTable > div > span > input[type="text"]:hover {
  border: 1px solid rgb(36, 36, 36);
}

#dataReqTable > div > div {
  background-color: #9c27b0;
  color: #eee;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
}

#alertCont {
  display: flex;
  position: relative;
  background: rgb(156 39 176 / 65%);
  width: 80%;
  margin: auto;
  height: 9rem;
  top: -21rem;
  color: #eee;
  padding: 18px;
  text-align: center;
  z-index: 3;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}

#alertCont > span {
  display: block;
  position: relative;
  margin: auto;
  background: #ff8800;
  padding: 8px;
  cursor: pointer;
}
